@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: transparent;
  border: none; }

body {
  background-color: #d5e1ef;
  box-sizing: border-box; }
